{% assign customization_price = item.properties._configurationPrice | default: 0 | plus: 0 %}
{% if customization_price > 0 %}
	{{ item.price | plus: customization_price | money }}
{% else %}
	<div class="un-line-item-unit-price" data-id="{{ item.key }}">{{ item.price | money }}</div>
{% endif %}