<a name="pagecontent" id="pagecontent"></a>

<div class="container full-width--true page clearfix p-0">
  <div class="page_section_wrapper">
    {% section 'section-about-us' %}
  </div>
</div>

<style>
  @media (max-width:798px) {
    .two_collection_blocks_wrapper,
    .blog_wrapper{
      padding:0px 20px 0px 20px;
    }
    
    .page_section_wrapper .featured-link--half.featured-link--image {
     order: unset;
    }

    .featured-link--half .info {
      width: 90%;
    }
  }
</style>

