<a name="pagecontent" id="pagecontent"></a>

<div class="container full-width--true page clearfix p-0">
  {% section 'blog-slideshow' %}
  {% section 'journal-page-section' %}
  
</div>


<style>
.transparentBackground--false .flickity-prev-next-button .arrow{
   fill: #ffffff !important;
}
  
.transparentBackground--true .flickity-prev-next-button .arrow{
   fill: #ffffff !important;
}
.homepage-slideshow .flickity-prev-next-button{
   opacity: 1;
}
  
</style>
