<a name="pagecontent" id="pagecontent"></a>
<div class="container full-width--false page clearfix p-0">
    <div class="container">
      <div class="custom-page-content job-details-page-content">
        <div class="eight columns offset-by-four">
          {% include 'page-multi-column', content: page.content %}
        </div>
      </div>
    </div>

    {% section 'section-job-details' %}


</div>
