<a name="pagecontent" id="pagecontent"></a>

<div class="full-width--true page clearfix p-0">
  <div class="page_section_wrapper">
    {% section 'section-handmade-in-germany' %}
  </div>
</div>

<style>
  @media (max-width:798px) {
    .two_collection_blocks_wrapper,
    .blog_wrapper{
      padding:0px 20px 0px 20px;
    }
  }
</style>

